.header {
    background-color: lightblue;
}



.header-title {
    color: white;
}

.wrapper {
    max-width: 70%;
    
    border-radius: 8px;
    height: 500px;
}

.addtask-box {
    border: 1px solid gray; 
    min-width: 60%;
    border-radius: 6px;
    padding: 5px;
}

.box-content {
    background-color: #f2f2f2;
    border-radius: 6px;
    min-height: calc(100vh - 100px);
}

.addtask-box:focus {
    outline: none;
}

.add-container {
    min-width: 75%;
}

.test {
    min-width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.25em;
    align-items: center;
    justify-content: space-around;
}
/* 
input[type=checkbox] {
    display: none;
} */


.newCheckbox {
    width: 68px;
    height: 26px;
    background: #333;
    margin: 20px auto;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  }
  .newCheckbox:after {
    display: block;
    content: '';
    color: #000;
    position: absolute;
    right: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
  }
  .newCheckbox:before {
    content: '\2714';
    color: #27ae60;
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
  }
  .newCheckbox label {
    display: block;
    width: 32px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fcfff4;
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  }
  .newCheckbox input[type=checkbox] {
    visibility: hidden;
  }
  .newCheckbox input[type=checkbox]:checked + label {
    left: 32px;
  }
  
  /* end .newCheckbox */

.task-completed {
    background-color: lawngreen;
    color: white;
    font-weight: bold;
}

.tasks-box {
    max-width: 50%;
    min-width: 50%;
}

